.container {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  -webkit-perspective: 1200px;
     -moz-perspective: 1200px;
       -o-perspective: 1200px;
          perspective: 1200px;
}

#box {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

#box figure {
  display: block;
  position: absolute;
  border: 2px solid #008080;
  text-align: center;
  color: black;
}

#box.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#box .front,
#box .back {
  width: 296px;
  height: 196px;
}

#box .right,
#box .left {
  width: 96px;
  height: 196px;
  left: 100px;
}

#box .top,
#box .bottom {
  width: 296px;
  height: 96px;
  top: 50px;
}


#box .front  { background: white; }
#box .back   { background: white; }
#box .right  { background: white; }
#box .left   { background: white; }
#box .top    { background: white; }
#box .bottom { background: white; }

#box .front  {
  -webkit-transform: translateZ( 50px );
     -moz-transform: translateZ( 50px );
       -o-transform: translateZ( 50px );
          transform: translateZ( 50px );
}
#box .back   {
  -webkit-transform: rotateX( -180deg ) translateZ(  50px );
     -moz-transform: rotateX( -180deg ) translateZ(  50px );
       -o-transform: rotateX( -180deg ) translateZ(  50px );
          transform: rotateX( -180deg ) translateZ(  50px );
}
#box .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 150px );
     -moz-transform: rotateY(   90deg ) translateZ( 150px );
       -o-transform: rotateY(   90deg ) translateZ( 150px );
          transform: rotateY(   90deg ) translateZ( 150px );
}
#box .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 150px );
     -moz-transform: rotateY(  -90deg ) translateZ( 150px );
       -o-transform: rotateY(  -90deg ) translateZ( 150px );
          transform: rotateY(  -90deg ) translateZ( 150px );
}
#box .top {
  -webkit-transform: rotateX(   90deg ) translateZ( 100px );
     -moz-transform: rotateX(   90deg ) translateZ( 100px );
       -o-transform: rotateX(   90deg ) translateZ( 100px );
          transform: rotateX(   90deg ) translateZ( 100px );
}
#box .bottom {
  -webkit-transform: rotateX(  -90deg ) translateZ( 100px );
     -moz-transform: rotateX(  -90deg ) translateZ( 100px );
       -o-transform: rotateX(  -90deg ) translateZ( 100px );
          transform: rotateX(  -90deg ) translateZ( 100px );
}


#box.show-front {
  -webkit-transform: translateZ(  -50px );
     -moz-transform: translateZ(  -50px );
       -o-transform: translateZ(  -50px );
          transform: translateZ(  -50px );
}
#box.show-back {
  -webkit-transform: translateZ( -50px ) rotateX( -180deg );
     -moz-transform: translateZ( -50px ) rotateX( -180deg );
       -o-transform: translateZ( -50px ) rotateX( -180deg );
          transform: translateZ( -50px ) rotateX( -180deg );
}
#box.show-right {
  -webkit-transform: translateZ( -150px ) rotateY(  -90deg );
     -moz-transform: translateZ( -150px ) rotateY(  -90deg );
       -o-transform: translateZ( -150px ) rotateY(  -90deg );
          transform: translateZ( -150px ) rotateY(  -90deg );
}
#box.show-left {
  -webkit-transform: translateZ( -150px ) rotateY(   90deg );
     -moz-transform: translateZ( -150px ) rotateY(   90deg );
       -o-transform: translateZ( -150px ) rotateY(   90deg );
          transform: translateZ( -150px ) rotateY(   90deg );
}
#box.show-top {
  -webkit-transform: translateZ( -100px ) rotateX(  -90deg );
     -moz-transform: translateZ( -100px ) rotateX(  -90deg );
       -o-transform: translateZ( -100px ) rotateX(  -90deg );
          transform: translateZ( -100px ) rotateX(  -90deg );
}
#box.show-bottom {
  -webkit-transform: translateZ( -100px ) rotateX(   90deg );
     -moz-transform: translateZ( -100px ) rotateX(   90deg );
       -o-transform: translateZ( -100px ) rotateX(   90deg );
          transform: translateZ( -100px ) rotateX(   90deg );
}

section, footer, nav {
  display: block;
}

@font-face {
font-family: 'quadranta';
src: url('quadranta-regular-webfont.eot?') format('eot'),
     url('quadranta-regular-webfont.otf') format('truetype'),
     url('quadranta-regular-webfont.woff') format('woff'),
     url('quadranta-regular-webfont.svg#QuadrantaBold') format('svg');
font-weight: normal;
font-style: normal;
}  

body {
  font-family:quadranta;
  color: black;
  max-width: 720px;
  margin: 0 auto;
  padding: 10pt;
  background: #EEE;
  transform-origin: 375px 50px;
  transform: scale(3, 3);
  overflow: hidden;
}

span {
  font-size: 0.5em;
  text-align: center;
  display: block;
  color: Teal;
}

h6 {
  text-align: center;
  color: Teal;
}
a {
  color: blue;
  color: hsl( 220, 90%, 40% );
  text-decoration: none;
}

a:hover {
  background-color: blue;
  background-color: hsl( 220, 90%, 50% );
  color: white;
}

#options {
  position: relative;
  z-index: 100;
}


figure {
  margin: 0;
}

table {
  width: 100%;
  height: 101%;
  font-size:0.5em;
}

.important {
  background: red;
}

.normal {
  background: orange;
}

.faible {
  background: green;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #008080;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

td:hover {
  background: #EEE;
  cursor: pointer;
}

td {
  width: 12.5%;
}